name: CI - Django

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  django-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Configurar variáveis de ambiente
        run: |
          echo "DJANGO_SETTINGS_MODULE=cashpilot.settings" >> $GITHUB_ENV

      - name: Rodar migrações
        working-directory: ./cashpilot
        run: python manage.py migrate --noinput

      - name: Rodar testes
        working-directory: ./cashpilot
        run: python manage.py test
